name: Daily LeetCode Generator

on:
  schedule:
    - cron: "30 3 * * *"  # 9:00 AM IST
  workflow_dispatch:

jobs:
  generate:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-python@v5
        with:
          python-version: "3.11"

      - run: pip install requests

      - run: python scripts/generate.py

      - run: |
          git config user.name "github-actions"
          git config user.email "actions@github.com"
          git add data/state.json
          git commit -m "Daily LeetCode update" || echo "No changes"
          git push

